<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @quote.link_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @quote.user_id %>
</p>

<p>
  <strong>Q:</strong>
  <%= @quote.q %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
