T = <%=@timeline_id %> <br>
<%= simple_form_for(@link ,remote: true) do |f| %>
  <%= f.input  :descr  %>
  <%= f.input  :text   %>
  <%= f.hidden_field :timeline_id, :value => @timeline_id %>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>