<div class="col-md-1">
	 <%= link.media_outlet.title %>
</div>

<div class="col-md-2">
	<%= link.date_published.to_formatted_s(:short) %>
</div>

<div class="col-md-6">
	<%= link_to link.title, link.lnk %>
</div>

<div class="col-md-1">
	<%= link.total_shares.to_i %>
	<% if user_signed_in? %>
		<% if (current_user.voted_for? link) %>
			<%= link_to unvote_link_path(link), remote: true, method: :put do %>
			<button type="button" class="btn btn-sm btn-default" style="color: #f62">
			  <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
			  <span><%= link.total_votes.to_i %></span>
			</button>
			<% end %>
		<% else %>
			<%= link_to upvote_link_path(link), remote: true, method: :put do %>
			<button type="button" class="btn btn-sm btn-default">
			  <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
			  <span><%= link.total_votes.to_i %></span>
			</button>
			<% end %>
		<% end %>
	<% else %>
	  <span><%= link.total_votes.to_i %></span>
	<% end %>
</div>

<div class="col-md-2">
	<%= link_to({ controller: "links", action: "edit", id: link.id,timeline_id: @timeline.id }, remote: true)  do %>
	    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#link-form-modal">Edit</button>
	<% end %>
	<%= link_to link, method: :delete,  data: { confirm: 'Are you sure?' } do %>
		<button class="btn btn-default btn-sm"ton>Delete!</button>
	<% end %>
</div>