<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @link.user_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @link.subject_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @link.text %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @link.descr %>
</p>

<p>
  <strong>Image:</strong>
  <%= @link.image %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @link.rating %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
