<%= simple_form_for(@media_outlet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.input :type, collection: [1..3], as: :select %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>