<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @media_outlet.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @media_outlet.url %>
</p>

<p>
  <strong>Type:</strong>
  <%= @media_outlet.media_outlet_type.name %>
</p>

<%= link_to 'Edit', edit_media_outlet_path(@media_outlet) %> |
<%= link_to 'Back', media_outlets_path %>
